.navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: .5s ease-in;
    overflow: hidden;
}
.nav_theme{
    background-color:rgba(0, 0, 0,.9);
}
.logo{
    left: 20px;
    position: fixed;
    width: 80px;
}
.avatar{
    right: 20px;
    position: fixed;
    width: 30px;
}